.body-background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../mockup/background.jpg');

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: #FEFFE0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.form-subtitle {
    text-align: center;
    font-size: 15px;
    margin: 5px;
}

.input-block {
    margin: 20px;
    height: 30px;
}

.input-field {
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}

.login-submit {
    background-color: #75A3FC;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #0056b3;
}

.login-bottom {
    text-align: center;
    font-size: 13px;
    margin: 5px;
}